/* Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for all screens */
/* Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for all screens */
html, body {
  @apply max-h-screen  text-white;
  margin: 0;
  padding: 0;
}

/* Small screens (phones) */
@media (max-width: 600px) {
  body {
    max-width: 400px;  /* Fixed max-width for small screens */
    margin: 3vh auto 0; /* Adds equal left and right margins */
  }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    max-width: 600px;  /* Fixed max-width for tablets */
    margin: 2vh auto 0; /* Equal left and right margins */
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    max-width: 70vw;  /* Fixed max-width for desktops */
    margin: 3vh auto 0; /* Equal left and right margins */
  }
}

/* Laptop screens */
@media (min-width: 1441px) and (max-width: 1600px) {
  body {
    max-width: 70vw;  /* Adjust width for laptop screens */
    margin: 3vh auto 0; /* Equal left and right margins */
  }
}

/* Monitor screens */
@media (min-width: 1601px) {
  body {
    max-width: 60vw;  /* Adjust width for larger monitors */
    margin: 3vh auto 0; /* Equal left and right margins */
  }
}


/* Small screens (phones) */
@media (max-width: 600px) {
  body {
    max-width: 400px;  /* Fixed max-width for small screens */
    margin: 3vh auto 0; /* Adds equal left and right margins */
  }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    max-width: 600px;  /* Fixed max-width for tablets */
    margin: 2vh auto 0; /* Equal left and right margins */
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    max-width: 70vw;  /* Fixed max-width for desktops */
    margin: 3vh auto 0; /* Equal left and right margins */
  }
}

/* Laptop screens */
@media (min-width: 1441px) and (max-width: 1600px) {
  body {
    max-width: 70vw;  /* Adjust width for laptop screens */
    margin: 3vh auto 0; /* Equal left and right margins */
  }
}

/* Monitor screens */
@media (min-width: 1601px) {
  body {
    max-width: 60vw;  /* Adjust width for larger monitors */
    margin: 2vh auto 0; /* Equal left and right margins */
  }
}
